 .App {
  text-align: center;
  margin: 20px;
}

.task {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.urgent {
  background-color: #f4bdbd;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: auto;
}

form > div {
  margin: 5px 0;
}

button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

button > svg {
  margin-right: 5px;
} 

